{% set comments = __SELF__.comments %}
 
<form action="{{url('/')}}/cmtikweb_sc_post" method="post">
 
    <input type="text" name="post_id" value="{{post.id}}" style="display: none;">
 
    <label for="comment">{{'COMMENT'|_}}</label>
    <input id="comment" type="text" name="comment">
    <span class="error-validation"> {{ errors.first('comment') }} </span>
 
    <label for="name">{{'NAME'|_}}</label>
    <input id="name" type="text" name="name">
    <span class="error-validation"> {{ errors.first('name') }} </span>
 
    <label for="email">{{'EMAIL'|_}}</label>
    <input id="email" type="email" name="email">
    <span class="error-validation"> {{ errors.first('email') }} </span>
 
    {% flash %}
    <h4> {{ message }} </h4>
    {% endflash %}
 
    <div>
        <p>
            <input type="checkbox" name="terms" id="terms" />
            <label for="terms">
                <u>
                    <strong>{{'I CONSENT THE PROCESSING OF MY DATA'|_}}</strong>
                    <br>
                    <span>{{'I AGREE WITH THE STORAGE AND USE OF MY DATA IN COMPLIANCE WITH THE'|_}}
                        <strong>
                            <a href="#"> {{'PRIVACY POLICY'|_}}</a>
                        </strong>
                    </span>
                </u>
            </label>
        </p>
    </div>
    <span class="error-validation"> {{ errors.first('terms') }} </span>
    <input class="Component-Button --Reply" type="submit" value="SEND">
</form>